@import "colors.scss";

.grid-courses {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;

  .course {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex-basis: calc(50% - 10px);

    @media screen and (max-width: 700px) {
      flex-basis: 100%;
    }

    & .course-details-1 p {
      margin: 0.2em 0;
      padding: 0;
    }
    .course-container {
      display: flex;
      flex-direction: row;
      gap: 20px;

      .course-image {
        flex: 1;

        figure picture {
          width: 100%;
          height: auto;
        }
      }

      .course-details {
        flex: 2;

        @media (max-width: 1200px) {
          flex: 1;
        }
        details {
          summary {
            cursor: pointer;
          }
        }
      }
    }

    .course-rating {
      display: flex;
      justify-content: flex-start;
      gap: 0.1em;
      padding: 0.5em 0;

      i.active {
        color: $--color-secondary;
      }
    }
  }
}

.filter-wrapper {
  padding: 1em;
  & .filter-element {
    margin: 1em 0;
    & > *:not(datalist) {
      display: block;
    }
  }
}

.errors-wrapper {
  padding: 0 1em;

  ul {
    list-style: disc;
    padding: 0.5em;

    li {
      padding: 0.2em 0;
    }
  }
}

.sort-wrapper {
  padding: 0 1em;
}

.modal-custom {
  margin: 0;

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  & .interior {
    height: 100%;
    display: flex;
    flex-direction: column;

    & .title {
      margin: 0.5em 0;
      font-weight: bold;
      font-size: 1.2em;
      text-align: center;
      padding: 0.5em;

      border-bottom: 1px solid #ccc;
    }

    & .content {
      padding: 0.5em;
    }

    & .buttons {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      gap: 1em;
      padding: 0.5em;
      flex-grow: 1;
    }
  }
}

.info-modal {
  max-width: 90vw;
  max-width: 1000px;
  width: 100%;

  max-height: 90vh;
  max-height: 1000px;
  height: 100%;

  .modal-info-image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;

    figure {
      max-width: 100%;
      max-width: 600px;
    }
  }

  #modal-info-course-rating {
    display: flex;
    justify-content: space-around;
    width: 100%;
    gap: 0.1em;
    padding: 0.5em 0;

    i {
      font-size: 1.5em;
    }

    i.active {
      color: $--color-secondary;
    }
  }
}

.filter-modal {
  max-width: 80vw;
  max-width: 600px;
  width: 100%;

  max-height: 80vh;
  max-height: 600px;
  height: 100%;
}
