@import "colors.scss";

.grid-courses {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;

  .course {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex-basis: calc(50% - 10px);

    @media screen and (max-width: 700px) {
      flex-basis: 100%;
    }

    & .course-details-1 p {
      margin: 0.2em 0;
      padding: 0;
    }
    .course-container {
      display: flex;
      flex-direction: row;
      gap: 20px;

      .course-image {
        flex: 1;

        figure picture {
          width: 100%;
          height: auto;
        }
      }

      .course-details {
        flex: 2;

        @media (max-width: 1200px) {
          flex: 1;
        }
        details {
          summary {
            cursor: pointer;
          }
        }
      }
    }
  }
}

.filter-wrapper {
  padding: 1em;
  & .filter-element {
    margin: 1em 0;
    & > *:not(datalist) {
      display: block;
    }
  }
}
