.dynamic-gallery-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  @media screen and (max-width: 1200px) {
    display: none;
  }
}

.dynamic-gallery {
  width: 50%;
  display: flex;
  overflow: hidden;
  position: relative;
  height: 500px;
  border: 10px solid transparent;
  border-image: url("resurse/imagini/galerie/border.webp");
  border-image-slice: 30;
  border-image-repeat: round;
  &:hover {
    animation-play-state: paused;
  }

  img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    flex-shrink: 0;
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
  }
}
