@import "colors.scss";

body {
  --main-width: 1100px;
  --main-padding: 1rem;
}

@media screen and (max-width: 1200px) {
  body {
    --main-width: 750px;
  }
}

@media screen and (max-width: 768px) {
  body {
    --main-width: 100%;
  }
}

div.main-wrapper {
  min-height: 85vh;
  background-color: $--color-background;
  width: var(--main-width);
  margin: 0 auto;
}

main.index-page {
  display: grid;
  grid-template-areas:
    "banner banner banner banner"
    "table table table calendar"
    "table table table announcements"
    "users stats stats server"
    "content content content content";

  grid-gap: 1rem;
  padding: var(--main-padding);

  > section {
    padding-bottom: 1em;
    border-bottom: 2px solid $--color-main;

    &#section-1 {
      grid-area: banner;
    }

    &#section-table {
      grid-area: table;
    }

    &#section-calendar {
      grid-area: calendar;
    }

    &#section-announcements {
      grid-area: announcements;
    }

    &#section-users {
      grid-area: users;
    }

    &#section-stats {
      grid-area: stats;
    }

    &#section-server {
      grid-area: server;
    }

    &#section-content {
      grid-area: content;
    }
  }

  @media screen and (max-width: 1200px) {
    grid-template-areas:
      "banner banner"
      "table table"
      "calendar announcements"
      "users stats"
      "server stats"
      "content content";
  }

  @media screen and (max-width: 768px) {
    grid-template-areas:
      "banner"
      "table"
      "calendar"
      "announcements"
      "users"
      "stats"
      "server"
      "content";
  }

  /* responsive iframes */

  .iframe-container {
    position: relative;
    overflow: hidden;
    width: 75%;
    margin: 0 auto;
    max-width: 800px;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */

    border: 0.5em solid $--color-border;
    box-sizing: border-box;

    transition: border-color 0.2s ease;

    @media screen and (max-width: 1200px) {
      width: 100%;
    }

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
    }

    &:has(+ .iframe-tabs a:hover) {
      border-color: $--color-accent-1;
    }
  }

  .iframe-tabs {
    width: 75%;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;

    @media screen and (max-width: 1200px) {
      width: 100%;
    }

    a {
      position: relative;

      background-image: radial-gradient(($--color-main), ($--color-border));
      background-color: ($--color-main);
      border: 3px solid ($--color-border);
      border-top: none;

      border-bottom-left-radius: 1rem;
      border-bottom-right-radius: 1rem;

      color: ($--color-text);

      min-width: 200px;

      text-align: center;

      transition: all 0.2s ease;

      display: flex;
      justify-content: center;
      align-items: center;

      text-shadow: 0 0 10px #fff;

      @media screen and (max-width: 768px) {
        min-width: 100px;
      }

      &:hover {
        color: ($--color-highlight);
        border-color: ($--color-accent-1);
      }
    }

    .inner {
      width: 100%;
      height: 100%;
      padding: 0.5em;
      box-sizing: border-box;
      border: 3px solid white;
      border-bottom-left-radius: 1rem;
      border-bottom-right-radius: 1rem;
    }
  }
}

/* HEADER --------------------------------- */

header {
  display: flex;
  align-items: center;

  padding: 1.5rem;

  @media screen and (max-width: 1200px) {
    padding: 1.25rem 1rem;
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  > h1 {
    flex: 2;

    @media screen and (max-width: 1200px) {
      font-size: 1.8rem;
    }
  }

  > nav {
    flex: 5;

    @media screen and (max-width: 768px) {
      width: 100%;
    }

    ul {
      list-style: none;
    }

    li,
    li:after {
      transition: color 0.2s ease, border-color 0.2s ease;
    }

    li:hover,
    li:hover:after {
      color: ($--color-text-hover-1);
      border-color: ($--color-text-hover-1);
    }

    > ul {
      display: flex;
      justify-content: space-evenly;
      margin: 0;
      padding: 0;

      ul {
        font-size: 1.2rem;

        position: absolute;

        top: 100%;

        text-wrap: none;
        white-space: nowrap;

        padding: 0;
        transform: scale(0);
        transform-origin: 50% 50%;

        overflow: hidden;

        background-color: ($--color-main);

        transition: transform 0.3s ease;

        &.open-left {
          right: 0;
        }

        &.open-right {
          left: 0;
        }

        > li {
          padding-top: 1rem;
          position: relative;
          padding-left: 1rem;
          padding-right: 1rem;
          text-align: center;

          &:first-child {
            padding-top: 1.5rem;
          }

          &:last-child {
            padding-bottom: 1.5rem;

            &::after {
              top: calc(100% - 1.4rem);
            }
          }

          &::after {
            content: "";
            position: absolute;
            top: calc(100% + 0.1rem);
            width: 50%;
            left: 25%;
            border-bottom: 1px solid ($--color-border);
          }
        }
      }

      > li {
        font-size: 1.5rem;
        position: relative;

        @media screen and (max-width: 768px) {
          font-size: 1.3rem;
          position: relative;
          flex: 1;
          text-align: center;
        }

        &:not(:has(ul)):hover {
          position: relative;
          &::after {
            content: "";
            position: absolute;
            display: block;
            top: -25%;
            width: 100%;
            height: 3px;
            background-color: ($--color-secondary);
            animation: list-item-after-slide-down 0.75s ease forwards;

            @media screen and (max-width: 768px) {
              display: none;
            }
          }
        }

        &:hover {
          > ul {
            transform: scale(1);
          }
        }

        &:not(:last-child):after {
          @media screen and (max-width: 768px) {
            content: "";
            position: absolute;
            top: -25%;
            bottom: -25%;
            right: 0;
            border-right: 1px solid ($--color-border);
          }
        }
      }
    }
  }
}

#nav-hamburger {
  display: none;
}

@keyframes list-item-after-slide-down {
  0% {
    top: -25%;
  }

  100% {
    top: 125%;
  }
}

@media screen and (max-width: 500px) {
  header {
    > nav {
      position: relative;

      > ul {
        display: none;
        ul {
          animation: none;
          transition: none;
        }
      }

      &:has(input:checked) > ul {
        display: block;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: ($--color-main);

        animation: appear-with-clip-path-circular 1.5s ease forwards;

        & .hide-500,
        & .hide-1200 {
          display: block;
        }

        & > li {
          padding-bottom: 1em;

          &:hover > ul {
            position: static;
            display: block;
            animation: none;
            transition: none;
          }

          &:hover li {
            padding-bottom: 1em;

            &::after,
            &::before {
              content: none;
            }
          }
        }
      }
    }
  }

  @keyframes appear-with-clip-path-circular {
    0% {
      clip-path: circle(0% at 0% 0%);
    }
    100% {
      clip-path: circle(200% at 0% 0%);
    }
  }
  #nav-hamburger {
    display: block;

    position: relative;
    width: 2.5rem;
    height: 2.5rem;

    border-radius: 5px;

    & > input {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      z-index: 50;
    }

    & > .hamburger-main {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
    }

    @for $i from 1 through 3 {
      & > .hamburger-#{$i} {
        position: absolute;
        top: #{($i - 1) * 10 + 2}px;
        height: 5px;
        width: 100%;
        background-color: black;
        border-radius: 2px;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .hide-500 {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  .hide-1200 {
    display: none;
  }
}

/* MAIN ----------------------------------- */

/* FOOTER --------------------------------- */

footer {
  background-color: black;

  padding: 1rem 0.5rem;
  color: ($--color-text-fade);

  text-align: center;

  h3 {
    color: ($--color-accent-1);
  }

  > * {
    display: flex;

    > * {
      flex: 1;
    }
  }

  li {
    margin-bottom: 0.5rem;
  }

  address > * {
    display: block;
    margin-bottom: 0.5rem;
  }
}

@media screen and (max-width: 768px) {
  footer > * {
    flex-direction: column;
  }
}

body {
  --mergi-sus-dimension: 50px;
  --mergi-sus-outer-difference: 20px;
  --mergi-sus-inner-difference: 35px;
}

#mergi-sus {
  position: fixed;
  bottom: 2em;
  right: 2em;
  width: var(--mergi-sus-dimension);

  background-color: ($--color-text);

  border: 2px solid ($--color-border);

  aspect-ratio: 1/1;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: var(--mergi-sus-dimension);

  opacity: 0.3;
  box-shadow: none;

  transition: opacity 0.5s ease, box-shadow 0.5s ease;
}

#mergi-sus:hover {
  opacity: 1;
  box-shadow: 0px 0px 25px ($--color-highlight);
}

#triunghi-outer {
  position: relative;
  flex: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  color: ($--color-main);

  font-size: calc(
    (var(--mergi-sus-dimension)) - var(--mergi-sus-outer-difference)
  );

  transform: rotate(-90deg);
}

#triunghi-outer > i {
  aspect-ratio: 1/1;
}

#triunghi-inner {
  position: absolute;
  color: ($--color-text);

  display: flex;
  justify-content: center;
  align-items: center;
}

#triunghi-inner > i {
  font-size: calc(
    (var(--mergi-sus-dimension)) - var(--mergi-sus-inner-difference)
  );
  aspect-ratio: 1/1;
}

/* tabel ============================================ */

#section-table table caption {
  caption-side: bottom;
}

#section-table table {
  border-spacing: 0.25em;
  border-collapse: separate;
}

#section-table table > *:not(tbody, caption) {
  background-color: black;

  color: ($--color-main);
}

#section-table table tbody tr:has(td):nth-child(even) {
  background-color: ($--color-background);
}
#section-table table tbody tr:has(td):nth-child(odd) {
  background-color: ($--color-background-2);
}

#section-table caption {
  margin-top: 5px;
}

#section-table table tbody tr {
  transition: background-color 0.7s ease;
}
#section-table table tbody tr:hover {
  background-color: ($--color-highlight) !important;
}

@media screen and (max-width: 768px) {
  #section-table table {
    border-spacing: none;
    border-collapse: collapse;
    width: max-content;
  }

  #section-table {
    overflow-x: auto;
    overflow-y: hidden;
  }
}

/* -------------------------------- */

#section-2 #section-2-wrapper {
  display: flex;
  gap: 0.5em;
}

#section-2 #section-2-wrapper > * {
  flex: 1;
  text-align: justify;
  line-height: 1.2;
  padding: 0.5em;
}

@media screen and (max-width: 1200px) {
  #section-2 #section-2-wrapper {
    flex-direction: column;
  }
}

h3 {
  width: 100%;
  border-top: 2px solid ($--color-main);
  padding-top: 0.5em;
  margin-top: 0.5em;
}

#ul-resources {
  list-style-type: disc;
  list-style-position: inside;
  padding-left: 0;
}

#ul-resources > li {
  margin-bottom: 0.5em;
}

.main-wrapper.not-index {
  & h2,
  p {
    padding: 1em 0.5em;
  }

  & main > h3 {
    padding: 0 0.5em;
  }
}

.main-wrapper.error-wrapper {
  & > div {
    display: flex;
    justify-content: center;
    width: 100%;
    & > img {
      max-width: 100%;
      max-width: 800px;
    }
  }
}
