<h2>Ce oferim?</h2>
<div id="section-2-wrapper">
  <section>
    <h3>Cursuri de programare pentru copii</h3>
    <!-- T1.10.a -->
    <p>
      Programa cursurilor noastre de programare este împărțită în
      <b>cursuri teoretice</b>
      de scurtă durată și concise, și
      <b>laboratoare IT</b>
      interactive, împreună cu profesori de progamare dedicați. De aceasta,
      copilul dumneavoastră va avea activitate interesantă și continuă, și va
      avea parte de cursuri distractive, dar care îl vor învăța atât să
      programeze după standardele domeniului, cât și să învețe să caute singur
      materiale, permițându-i să
      <b>învețe programare de unul singur</b>
      .
    </p>
  </section>
  <section>
    <h3>Resurse IT oferite studenților noștri</h3>
    <p>
      Odată cu înscrierea la cursurile de programare, cursanții noștri vor va
      avea acces la toate materialele de curs și toate
      <b>resursele de programare</b>
      de care are nevoie pentru a se putea dezvolta în domeniul IT.
    </p>
  </section>
  <section>
    <h3>Cursuri de programare înregistrate</h3>
    <p>
      Toate cursurile și laboratoarele IT predate studenților noștri sunt
      înregistrate și transmise exclusiv cursanților. Astfel, materialele pot fi
      revizuite oricând se dorește.
    </p>
    <aside>
      <p>
        Înregistrările nu vor fi distribuite altor terțe și nu vor fi folosite
        intern decât pentru îmbunătățirea cursurilor noastre.
      </p>
    </aside>
  </section>
</div>
