<h3>Cine sunt profesorii noștri?</h3>
<div class="profesori-wrapper">
  <article id="profesor-235">
    <div class="profesori-image-wrapper">
      <img src="/imagini/temp-profesori.png" alt="Imagine profesor 1" />
    </div>
    <div class="profesori-content-wrapper">
      <h4>Takacs Robert</h4>
      <p>
        ellentesque habitant morbi tristique senectus et netus et malesuada
        fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae,
        ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam
        egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend
        leo.
      </p>
    </div>
  </article>
  <article id="profesor-235">
    <div class="profesori-image-wrapper">
      <img src="/imagini/temp-profesori.png" alt="Imagine profesor 1" />
    </div>
    <div class="profesori-content-wrapper">
      <h4>Takacs Robert</h4>
      <p>
        ellentesque habitant morbi tristique senectus et netus et malesuada
        fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae,
        ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam
        egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend
        leo.
      </p>
    </div>
  </article>
  <article id="profesor-235">
    <div class="profesori-image-wrapper">
      <img src="/imagini/temp-profesori.png" alt="Imagine profesor 1" />
    </div>
    <div class="profesori-content-wrapper">
      <h4>Takacs Robert</h4>
      <p>
        ellentesque habitant morbi tristique senectus et netus et malesuada
        fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae,
        ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam
        egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend
        leo.
      </p>
    </div>
  </article>
  <article id="profesor-235">
    <div class="profesori-image-wrapper">
      <img src="/imagini/temp-profesori.png" alt="Imagine profesor 1" />
    </div>
    <div class="profesori-content-wrapper">
      <h4>Takacs Robert</h4>
      <p>
        ellentesque habitant morbi tristique senectus et netus et malesuada
        fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae,
        ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam
        egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend
        leo.
      </p>
    </div>
  </article>
  <article id="profesor-235">
    <div class="profesori-image-wrapper">
      <img src="/imagini/temp-profesori.png" alt="Imagine profesor 1" />
    </div>
    <div class="profesori-content-wrapper">
      <h4>Takacs Robert</h4>
      <p>
        ellentesque habitant morbi tristique senectus et netus et malesuada
        fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae,
        ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam
        egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend
        leo.
      </p>
    </div>
  </article>
  <article id="profesor-235">
    <div class="profesori-image-wrapper">
      <img src="/imagini/temp-profesori.png" alt="Imagine profesor 1" />
    </div>
    <div class="profesori-content-wrapper">
      <h4>Takacs Robert</h4>
      <p>
        ellentesque habitant morbi tristique senectus et netus et malesuada
        fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae,
        ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam
        egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend
        leo.
      </p>
    </div>
  </article>
  <article id="profesor-235">
    <div class="profesori-image-wrapper">
      <img src="/imagini/temp-profesori.png" alt="Imagine profesor 1" />
    </div>
    <div class="profesori-content-wrapper">
      <h4>Takacs Robert</h4>
      <p>
        ellentesque habitant morbi tristique senectus et netus et malesuada
        fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae,
        ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam
        egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend
        leo.
      </p>
    </div>
  </article>
  <article id="profesor-235">
    <div class="profesori-image-wrapper">
      <img src="/imagini/temp-profesori.png" alt="Imagine profesor 1" />
    </div>
    <div class="profesori-content-wrapper">
      <h4>Takacs Robert</h4>
      <p>
        ellentesque habitant morbi tristique senectus et netus et malesuada
        fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae,
        ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam
        egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend
        leo.
      </p>
    </div>
  </article>
</div>
