<table>
  <caption>Orarul cursurilor</caption>
  <thead>
    <tr>
      <th>Grupa</th>
      <th>Luni</th>
      <th>Marti</th>
      <th>Miercuri</th>
      <th>Joi</th>
      <th>Vineri</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th colspan="6" scope="rowgroup">Programare Începători</th>
    </tr>
    <tr>
      <th scope="col">A.1</th>
      <td>C 9:00 - 11:00</td>
      <td>
        <ul>
          <li>L 9:00 - 11:00</li>
          <li>L 13:00 - 15:00</li>
        </ul>
      </td>
      <td>-</td>
      <td>C 9:00 - 11:00</td>
      <td>
        <ul>
          <li>L 9:00 - 11:00</li>
          <li>L 13:00 - 15:00</li>
        </ul>
      </td>
    </tr>
    <tr>
      <th scope="col">A.2</th>
      <td>
        <ul>
          <li>L 9:00 - 11:00</li>
          <li>L 13:00 - 15:00</li>
        </ul>
      </td>
      <td>C 9:00 - 11:00</td>
      <td>
        <ul>
          <li>L 9:00 - 11:00</li>
          <li>L 13:00 - 15:00</li>
        </ul>
      </td>
      <td>-</td>
      <td>C 9:00 - 11:00</td>
    </tr>
    <tr>
      <th colspan="6" scope="rowgroup">Programare Intermediari</th>
    </tr>
    <tr>
      <th scope="col">B.1</th>
      <td>C 9:00 - 11:00</td>
      <td>
        <ul>
          <li>L 9:00 - 11:00</li>
          <li>L 13:00 - 15:00</li>
        </ul>
      </td>
      <td>-</td>
      <td>C 9:00 - 11:00</td>
      <td>
        <ul>
          <li>L 9:00 - 11:00</li>
          <li>L 13:00 - 15:00</li>
        </ul>
      </td>
    </tr>
    <tr>
      <th scope="col">B.2</th>
      <td>
        <ul>
          <li>L 9:00 - 11:00</li>
          <li>L 13:00 - 15:00</li>
        </ul>
      </td>
      <td>C 9:00 - 11:00</td>
      <td>
        <ul>
          <li>L 9:00 - 11:00</li>
          <li>L 13:00 - 15:00</li>
        </ul>
      </td>
      <td>-</td>
      <td>C 9:00 - 11:00</td>
    </tr>
    <tr>
      <th colspan="6" scope="rowgroup">Programare Avansați</th>
    </tr>
    <tr>
      <th scope="col">C.1</th>
      <td>C 9:00 - 11:00</td>
      <td>
        <ul>
          <li>L 9:00 - 11:00</li>
          <li>L 13:00 - 15:00</li>
        </ul>
      </td>
      <td>-</td>
      <td>C 9:00 - 11:00</td>
      <td>
        <ul>
          <li>L 9:00 - 11:00</li>
          <li>L 13:00 - 15:00</li>
        </ul>
      </td>
    </tr>
    <tr>
      <th scope="col">C.2</th>
      <td>
        <ul>
          <li>L 9:00 - 11:00</li>
          <li>L 13:00 - 15:00</li>
        </ul>
      </td>
      <td>C 9:00 - 11:00</td>
      <td>
        <ul>
          <li>L 9:00 - 11:00</li>
          <li>L 13:00 - 15:00</li>
        </ul>
      </td>
      <td>-</td>
      <td>C 9:00 - 11:00</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="6">L - Laborator; C - Curs</td>
    </tr>
  </tfoot>
</table>
