<!DOCTYPE html>
<html>
  <head>
    <title>ÎnvățWeb - Contact</title>
    <meta
      name="description"
      content="ÎnvățWeb. Cursuri Programare Web.
      Școală de programare pentru copilul tău.
      Profesori de programare dedicați. Cursuri la cel mai mic preț."
    />
    <%-include('../fragmente/head.ejs')-%>
  </head>
  <body>
    <%-include('../fragmente/header.ejs')-%>

    <div class="main-wrapper not-index">
      <main>
        <h2>Contactați-ne</h2>
      </main>
    </div>

    <%-include('../fragmente/footer.ejs')-%>
  </body>
</html>
