.grid-courses {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}
.grid-courses .course {
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  flex-basis: calc(50% - 10px);
}
@media screen and (max-width: 700px) {
  .grid-courses .course {
    flex-basis: 100%;
  }
}
.grid-courses .course .course-details-1 p {
  margin: 0.2em 0;
  padding: 0;
}
.grid-courses .course .course-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.grid-courses .course .course-container .course-image {
  flex: 1;
}
.grid-courses .course .course-container .course-image figure picture {
  width: 100%;
  height: auto;
}
.grid-courses .course .course-container .course-details {
  flex: 2;
}
@media (max-width: 1200px) {
  .grid-courses .course .course-container .course-details {
    flex: 1;
  }
}
.grid-courses .course .course-container .course-details details summary {
  cursor: pointer;
}
.grid-courses .course .course-rating {
  display: flex;
  justify-content: flex-start;
  gap: 0.1em;
  padding: 0.5em 0;
}
.grid-courses .course .course-rating i.active {
  color: #2cc7db;
}

.filter-wrapper {
  padding: 1em;
}
.filter-wrapper .filter-element {
  margin: 1em 0;
}
.filter-wrapper .filter-element > *:not(datalist) {
  display: block;
}

.errors-wrapper {
  padding: 0 1em;
}
.errors-wrapper ul {
  list-style: disc;
  padding: 0.5em;
}
.errors-wrapper ul li {
  padding: 0.2em 0;
}

.sort-wrapper {
  padding: 0 1em;
}

.filter-modal {
  max-width: 80vw;
  max-width: 600px;
  width: 100%;
  max-height: 80vh;
  max-height: 600px;
  height: 100%;
  margin: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.filter-modal .interior {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.filter-modal .interior .title {
  margin: 0.5em 0;
  font-weight: bold;
  font-size: 1.2em;
  text-align: center;
  padding: 0.5em;
  border-bottom: 1px solid #ccc;
}
.filter-modal .interior .content {
  padding: 0.5em;
}
.filter-modal .interior .buttons {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 1em;
  padding: 0.5em;
  flex-grow: 1;
}