.grid-courses {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}
.grid-courses .course {
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  flex-basis: calc(50% - 10px);
}
@media screen and (max-width: 700px) {
  .grid-courses .course {
    flex-basis: 100%;
  }
}
.grid-courses .course .course-details-1 p {
  margin: 0.2em 0;
  padding: 0;
}
.grid-courses .course .course-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.grid-courses .course .course-container .course-image {
  flex: 1;
}
.grid-courses .course .course-container .course-image figure picture {
  width: 100%;
  height: auto;
}
.grid-courses .course .course-container .course-details {
  flex: 2;
}
@media (max-width: 1200px) {
  .grid-courses .course .course-container .course-details {
    flex: 1;
  }
}
.grid-courses .course .course-container .course-details details summary {
  cursor: pointer;
}
.grid-courses .course .course-rating {
  display: flex;
  justify-content: flex-start;
  gap: 0.1em;
  padding: 0.5em 0;
}
.grid-courses .course .course-rating i.active {
  color: #2cc7db;
}

.filter-wrapper {
  padding: 1em;
}
.filter-wrapper .filter-element {
  margin: 1em 0;
}
.filter-wrapper .filter-element > *:not(datalist) {
  display: block;
}