.dynamic-gallery-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 1200px) {
  .dynamic-gallery-wrapper {
    display: none;
  }
}

.dynamic-gallery {
  width: 50%;
  display: flex;
  overflow: hidden;
  position: relative;
  height: 500px;
  background-size: contain;
}
.dynamic-gallery img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  flex-shrink: 0;
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}

@keyframes perform_dynamic_gallery_animation {
  0% {
    transform: translateX(0);
    oapcity: 1;
  }
  25% {
    transform: translateX(10%);
    opacity: 1;
  }
  50% {
    transform: translateX(-10%);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}