.profesori-wrapper {
  margin-top: 2em;
  max-width: 100%;
  display: flex;
  overflow-x: auto;
  flex-wrap: wrap;
  gap: 2.5em;
  justify-content: space-around;
}
.profesori-wrapper > article {
  flex: 1;
  min-width: 300px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.profesori-wrapper > article > .profesori-image-wrapper {
  width: 100%;
  aspect-ratio: 1/1;
}
.profesori-wrapper > article > .profesori-image-wrapper > img {
  border-radius: 200px;
  width: 100%;
  height: 100%;
}
.profesori-wrapper > article > .profesori-content-wrapper {
  width: 100%;
}
.profesori-wrapper > article > .profesori-content-wrapper h4 {
  width: 100%;
  text-align: center;
}
.profesori-wrapper > article > .profesori-content-wrapper p {
  text-align: justify;
}