body {
  --main-width: 1100px;
  --main-padding: 1rem;
}

@media screen and (max-width: 1200px) {
  body {
    --main-width: 750px;
  }
}
@media screen and (max-width: 768px) {
  body {
    --main-width: 100%;
  }
}
div.main-wrapper {
  min-height: 85vh;
  background-color: #f2f2f2;
  width: var(--main-width);
  margin: 0 auto;
}

main.index-page {
  display: grid;
  grid-template-areas: "banner banner banner banner" "table table table calendar" "table table table announcements" "users stats stats server" "content content content content";
  grid-gap: 1rem;
  padding: var(--main-padding);
  /* responsive iframes */
}
main.index-page > section {
  padding-bottom: 1em;
  border-bottom: 2px solid #db962b;
}
main.index-page > section#section-1 {
  grid-area: banner;
}
main.index-page > section#section-table {
  grid-area: table;
}
main.index-page > section#section-calendar {
  grid-area: calendar;
}
main.index-page > section#section-announcements {
  grid-area: announcements;
}
main.index-page > section#section-users {
  grid-area: users;
}
main.index-page > section#section-stats {
  grid-area: stats;
}
main.index-page > section#section-server {
  grid-area: server;
}
main.index-page > section#section-content {
  grid-area: content;
}
@media screen and (max-width: 1200px) {
  main.index-page {
    grid-template-areas: "banner banner" "table table" "calendar announcements" "users stats" "server stats" "content content";
  }
}
@media screen and (max-width: 768px) {
  main.index-page {
    grid-template-areas: "banner" "table" "calendar" "announcements" "users" "stats" "server" "content";
  }
}
main.index-page .iframe-container {
  position: relative;
  overflow: hidden;
  width: 75%;
  margin: 0 auto;
  max-width: 800px;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  border: 0.5em solid #866d48;
  box-sizing: border-box;
  transition: border-color 0.2s ease;
}
@media screen and (max-width: 1200px) {
  main.index-page .iframe-container {
    width: 100%;
  }
}
main.index-page .iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
main.index-page .iframe-container:has(+ .iframe-tabs a:hover) {
  border-color: #485886;
}
main.index-page .iframe-tabs {
  width: 75%;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
@media screen and (max-width: 1200px) {
  main.index-page .iframe-tabs {
    width: 100%;
  }
}
main.index-page .iframe-tabs a {
  position: relative;
  background-image: radial-gradient(#db962b, #866d48);
  background-color: #db962b;
  border: 3px solid #866d48;
  border-top: none;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  color: #33302c;
  min-width: 200px;
  text-align: center;
  transition: all 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0 10px #fff;
}
@media screen and (max-width: 768px) {
  main.index-page .iframe-tabs a {
    min-width: 100px;
  }
}
main.index-page .iframe-tabs a:hover {
  color: #2c59db;
  border-color: #485886;
}
main.index-page .iframe-tabs .inner {
  width: 100%;
  height: 100%;
  padding: 0.5em;
  box-sizing: border-box;
  border: 3px solid white;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

/* HEADER --------------------------------- */
header {
  display: flex;
  align-items: center;
  padding: 1.5rem;
}
@media screen and (max-width: 1200px) {
  header {
    padding: 1.25rem 1rem;
  }
}
@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}
header > h1 {
  flex: 2;
}
@media screen and (max-width: 1200px) {
  header > h1 {
    font-size: 1.8rem;
  }
}
header > nav {
  flex: 5;
}
@media screen and (max-width: 768px) {
  header > nav {
    width: 100%;
  }
}
header > nav ul {
  list-style: none;
}
header > nav li,
header > nav li:after {
  transition: color 0.2s ease, border-color 0.2s ease;
}
header > nav li:hover,
header > nav li:hover:after {
  color: #171614;
  border-color: #171614;
}
header > nav > ul {
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
}
header > nav > ul ul {
  font-size: 1.2rem;
  position: absolute;
  top: 100%;
  text-wrap: none;
  white-space: nowrap;
  padding: 0;
  transform: scale(0);
  transform-origin: 50% 50%;
  overflow: hidden;
  background-color: #db962b;
  transition: transform 0.3s ease;
}
header > nav > ul ul.open-left {
  right: 0;
}
header > nav > ul ul.open-right {
  left: 0;
}
header > nav > ul ul > li {
  padding-top: 1rem;
  position: relative;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
}
header > nav > ul ul > li:first-child {
  padding-top: 1.5rem;
}
header > nav > ul ul > li:last-child {
  padding-bottom: 1.5rem;
}
header > nav > ul ul > li:last-child::after {
  top: calc(100% - 1.4rem);
}
header > nav > ul ul > li::after {
  content: "";
  position: absolute;
  top: calc(100% + 0.1rem);
  width: 50%;
  left: 25%;
  border-bottom: 1px solid #866d48;
}
header > nav > ul > li {
  font-size: 1.5rem;
  position: relative;
}
@media screen and (max-width: 768px) {
  header > nav > ul > li {
    font-size: 1.3rem;
    position: relative;
    flex: 1;
    text-align: center;
  }
}
header > nav > ul > li:not(:has(ul)):hover {
  position: relative;
}
header > nav > ul > li:not(:has(ul)):hover::after {
  content: "";
  position: absolute;
  display: block;
  top: -25%;
  width: 100%;
  height: 3px;
  background-color: #2cc7db;
  animation: list-item-after-slide-down 0.75s ease forwards;
}
@media screen and (max-width: 768px) {
  header > nav > ul > li:not(:has(ul)):hover::after {
    display: none;
  }
}
header > nav > ul > li:hover > ul {
  transform: scale(1);
}
@media screen and (max-width: 768px) {
  header > nav > ul > li:not(:last-child):after {
    content: "";
    position: absolute;
    top: -25%;
    bottom: -25%;
    right: 0;
    border-right: 1px solid #866d48;
  }
}

#nav-hamburger {
  display: none;
}

@keyframes list-item-after-slide-down {
  0% {
    top: -25%;
  }
  100% {
    top: 125%;
  }
}
@media screen and (max-width: 500px) {
  header > nav {
    position: relative;
  }
  header > nav > ul {
    display: none;
  }
  header > nav > ul ul {
    animation: none;
    transition: none;
  }
  header > nav:has(input:checked) > ul {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #db962b;
    animation: appear-with-clip-path-circular 1.5s ease forwards;
  }
  header > nav:has(input:checked) > ul .hide-500, header > nav:has(input:checked) > ul .hide-1200 {
    display: block;
  }
  header > nav:has(input:checked) > ul > li {
    padding-bottom: 1em;
  }
  header > nav:has(input:checked) > ul > li:hover > ul {
    position: static;
    display: block;
    animation: none;
    transition: none;
  }
  header > nav:has(input:checked) > ul > li:hover li {
    padding-bottom: 1em;
  }
  header > nav:has(input:checked) > ul > li:hover li::after, header > nav:has(input:checked) > ul > li:hover li::before {
    content: none;
  }
  @keyframes appear-with-clip-path-circular {
    0% {
      clip-path: circle(0% at 0% 0%);
    }
    100% {
      clip-path: circle(200% at 0% 0%);
    }
  }
  #nav-hamburger {
    display: block;
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 5px;
  }
  #nav-hamburger > input {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 50;
  }
  #nav-hamburger > .hamburger-main {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
  #nav-hamburger > .hamburger-1 {
    position: absolute;
    top: 2px;
    height: 5px;
    width: 100%;
    background-color: black;
    border-radius: 2px;
  }
  #nav-hamburger > .hamburger-2 {
    position: absolute;
    top: 12px;
    height: 5px;
    width: 100%;
    background-color: black;
    border-radius: 2px;
  }
  #nav-hamburger > .hamburger-3 {
    position: absolute;
    top: 22px;
    height: 5px;
    width: 100%;
    background-color: black;
    border-radius: 2px;
  }
}
@media screen and (max-width: 500px) {
  .hide-500 {
    display: none;
  }
}
@media screen and (max-width: 1200px) {
  .hide-1200 {
    display: none;
  }
}
/* MAIN ----------------------------------- */
/* FOOTER --------------------------------- */
footer {
  background-color: black;
  padding: 1rem 0.5rem;
  color: #6d6d6d;
  text-align: center;
}
footer h3 {
  color: #485886;
}
footer > * {
  display: flex;
}
footer > * > * {
  flex: 1;
}
footer li {
  margin-bottom: 0.5rem;
}
footer address > * {
  display: block;
  margin-bottom: 0.5rem;
}

@media screen and (max-width: 768px) {
  footer > * {
    flex-direction: column;
  }
}
body {
  --mergi-sus-dimension: 50px;
  --mergi-sus-outer-difference: 20px;
  --mergi-sus-inner-difference: 35px;
}

#mergi-sus {
  position: fixed;
  bottom: 2em;
  right: 2em;
  width: var(--mergi-sus-dimension);
  background-color: #33302c;
  border: 2px solid #866d48;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--mergi-sus-dimension);
  opacity: 0.3;
  box-shadow: none;
  transition: opacity 0.5s ease, box-shadow 0.5s ease;
}

#mergi-sus:hover {
  opacity: 1;
  box-shadow: 0px 0px 25px #2c59db;
}

#triunghi-outer {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #db962b;
  font-size: calc((var(--mergi-sus-dimension)) - var(--mergi-sus-outer-difference));
  transform: rotate(-90deg);
}

#triunghi-outer > i {
  aspect-ratio: 1/1;
}

#triunghi-inner {
  position: absolute;
  color: #33302c;
  display: flex;
  justify-content: center;
  align-items: center;
}

#triunghi-inner > i {
  font-size: calc((var(--mergi-sus-dimension)) - var(--mergi-sus-inner-difference));
  aspect-ratio: 1/1;
}

/* tabel ============================================ */
#section-table table caption {
  caption-side: bottom;
}

#section-table table {
  border-spacing: 0.25em;
  border-collapse: separate;
}

#section-table table > *:not(tbody, caption) {
  background-color: black;
  color: #db962b;
}

#section-table table tbody tr:has(td):nth-child(even) {
  background-color: #f2f2f2;
}

#section-table table tbody tr:has(td):nth-child(odd) {
  background-color: rgb(224, 218, 210);
}

#section-table caption {
  margin-top: 5px;
}

#section-table table tbody tr {
  transition: background-color 0.7s ease;
}

#section-table table tbody tr:hover {
  background-color: #2c59db !important;
}

@media screen and (max-width: 768px) {
  #section-table table {
    border-spacing: none;
    border-collapse: collapse;
    width: max-content;
  }
  #section-table {
    overflow-x: auto;
    overflow-y: hidden;
  }
}
/* -------------------------------- */
#section-2 #section-2-wrapper {
  display: flex;
  gap: 0.5em;
}

#section-2 #section-2-wrapper > * {
  flex: 1;
  text-align: justify;
  line-height: 1.2;
  padding: 0.5em;
}

@media screen and (max-width: 1200px) {
  #section-2 #section-2-wrapper {
    flex-direction: column;
  }
}
h3 {
  width: 100%;
  border-top: 2px solid #db962b;
  padding-top: 0.5em;
  margin-top: 0.5em;
}

#ul-resources {
  list-style-type: disc;
  list-style-position: inside;
  padding-left: 0;
}

#ul-resources > li {
  margin-bottom: 0.5em;
}

.main-wrapper.not-index h2,
.main-wrapper.not-index p {
  padding: 1em 0.5em;
}
.main-wrapper.not-index main > h3 {
  padding: 0 0.5em;
}

.main-wrapper.error-wrapper > div {
  display: flex;
  justify-content: center;
  width: 100%;
}
.main-wrapper.error-wrapper > div > img {
  max-width: 100%;
  max-width: 800px;
}