<footer>
  <div>
    <section>
      <h3>Link-uri utile</h3>
      <ul>
        <!-- T1.11.b -->
        <li><a href="/termeni-conditii">Termeni și Condiții</a></li>
        <li>
          <a href="/politica-confidentialitate">
            Politica de confidențialitate
          </a>
        </li>
        <li><a href="/politica-cookies">Politica cookies</a></li>
      </ul>
    </section>
    <section>
      <!-- T1.13 -->
      <h3>Contactează-ne</h3>
      <address>
        <a href="mailto:contact@invatweb.ro" target="_blank">
          contact@invatweb.ro
        </a>
        <a href="tel:+0754513861" target="_blank">0754513861</a>
        <a href="https://maps.app.goo.gl/YLanwUejJDWvGqP7A" target="_blank">
          Adresă (Facultatea de Matematică și Informatică)
        </a>
        <a
          href="https://api.whatsapp.com/send?phone=0754513861&text=Buna%20ziua%20Sunt%20interesat%20de%20cursuri%20pentru%20copilul%20meu"
          target="_blank"
        >
          Scrie-ne pe WhatsApp
        </a>
      </address>
    </section>
  </div>
  <p>
    <!-- T.1.14 -->
    <small>
      &copy; 2022. Toate drepturile rezervate. Creat în
      <time datetime="2024-02-28 23:59:59">
        28 Februarie 2024, în jurul miezului nopții
      </time>
    </small>
  </p>

  <div>
    <p id="banner">Acesta este un proiect scolar!</p>
    <p id="watermark">Takacs Robert - FMI 263 - https://www.rotak.ro</p>
  </div>

  <div id="mergi-sus" title="Mergeți înapoi sus">
    <a href="js:void()" id="triunghi-outer">
      <i class="fa-solid fa-play"></i>
      <div id="triunghi-inner"><i class="fa-solid fa-play"></i></div>
    </a>
  </div>
</footer>

<div id="cookie-banner" class="cookie-banner-hidden">
  <p>Acesta este un proiect scolar</p>
  <div>
    <p>Acceptați cookie-uri?</p>
    <button id="accept-button">OK</button>
  </div>
</div>

<script src="/js/mergi-sus.js"></script>

<script src="/js/cookie-banner.js"></script>
