<header>
  <h1 class="kode-mono-700 text-reflected" data-text="Școala ÎnvățWeb">
    Școala ÎnvățWeb
  </h1>
  <nav>
    <div id="nav-hamburger">
      <input type="checkbox" />
      <div class="hamburger-main"></div>
      <div class="hamburger-1"></div>
      <div class="hamburger-2"></div>
      <div class="hamburger-3"></div>
    </div>
    <ul>
      <li>
        <i class="fa-solid fa-house"></i>
        <a class="hide-1200" href="/">Acasă</a>
        <ul class="open-right">
          <li><a href="/#section-1">Bine ați venit</a></li>
          <li><a href="/#section-2">Cursuri IT</a></li>
          <li><a href="/#section-3">Profesorii noștri</a></li>
          <li><a href="/#section-4">Întrebări frecvente</a></li>
          <li><a href="/#section-5">Testimoniale</a></li>
          <li><a href="/#section-6">Contact</a></li>
          <li><a href="/#section-7">Resurse utile</a></li>
        </ul>
      </li>
      <li>
        <a href="/despre-cursuri">
          <i class="fa-solid fa-book"></i>
          <span class="hide-500">Despre cursuri</span>
        </a>
      </li>
      <li>
        <a href="/contact">
          <i class="fa-solid fa-phone"></i>
          <span class="hide-500">Contact</span>
        </a>
      </li>
      <li>
        <a href="/devino-profesor">
          <i class="fa-solid fa-code"></i>
          <span class="hide-500">Devino profesor</span>
        </a>
      </li>
      <li>
        <i class="fa-solid fa-gear"></i>
        <span class="hide-500">Utile</span>
        <ul class="open-left">
          <li><a href="/cursuri">Lista Cursuri</a></li>
          <li>
            <a href="/politica-confidentialitate">
              Politica de Confidentialitate
            </a>
          </li>
          <li><a href="/politica-cookies">Politica Cookies</a></li>
          <li><a href="/termeni-conditii">Termeni si conditii</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</header>
