<header>
  <h1 class="kode-mono-700 text-reflected" data-text="Școala ÎnvățWeb">
    Școala ÎnvățWeb
  </h1>
  <nav>
    <div id="nav-hamburger">
      <input type="checkbox" />
      <div class="hamburger-main"></div>
      <div class="hamburger-1"></div>
      <div class="hamburger-2"></div>
      <div class="hamburger-3"></div>
    </div>
    <ul>
      <li>
        <a href="/">
          <i class="fa-solid fa-house"></i>
          <span class="hide-1200">Acasă</span>
        </a>
        <ul class="open-right">
          <li><a href="/#section-1">Bine ați venit</a></li>
          <li><a href="/#section-2">Cursuri IT</a></li>
          <li><a href="/#section-3">Profesorii noștri</a></li>
          <li><a href="/#section-4">Întrebări frecvente</a></li>
          <li><a href="/#section-5">Testimoniale</a></li>
          <li><a href="/#section-6">Contact</a></li>
          <li><a href="/#section-7">Resurse utile</a></li>
        </ul>
      </li>
      <li>
        <a href="/cursuri">
          <i class="fa-solid fa-book"></i>
          <span class="hide-500">Cursuri</span>
        </a>
        <ul class="open-right">
          <% for (let category of locals.availableCourseCategories) { %>

          <li>
            <a href="/cursuri?filter=true&filter_category=<%-category.key%>">
              <%-category.value%>
            </a>
          </li>
          <% } %>
        </ul>
      </li>

      <li>
        <a href="/register">
          <i class="fa-solid fa-user"></i>
          <span class="hide-500">Înregistrare</span>
        </a>
      </li>

      <li>
        <i class="fa-solid fa-gear"></i>
        <span class="hide-500">Utile</span>
        <ul class="open-left">
          <li>
            <i class="fa-solid fa-code"></i>
            <a href="/despre-cursuri">Despre Cursuri</a>
          </li>
          <li>
            <i class="fa-solid fa-gear"></i>
            <a href="/politica-confidentialitate">
              Politica de Confidentialitate
            </a>
          </li>
          <li>
            <i class="fa-solid fa-gear"></i>
            <a href="/politica-cookies">Politica Cookies</a>
          </li>
          <li>
            <i class="fa-solid fa-gear"></i>
            <a href="/termeni-conditii">Termeni si conditii</a>
          </li>
          <li>
            <a href="/contact">
              <i class="fa-solid fa-phone"></i>
              <span class="hide-500">Contact</span>
            </a>
          </li>
          <li>
            <a href="/devino-profesor">
              <i class="fa-solid fa-code"></i>
              <span class="hide-500">Devino profesor</span>
            </a>
          </li>
          <li>
            <button id="theme-toggle">
              <i class="fas fa-sun"></i>
            </button>
          </li>
        </ul>
      </li>

      <% if (!loggedIn) { %>
      <li>
        <form action="/login" method="post">
          <input type="text" name="username" placeholder="Username" required />
          <input
            type="password"
            name="parola"
            placeholder="Password"
            required
          />
          <button type="submit">Login</button>
        </form>
      </li>
      <% } else { %>
      <li>
        <a href="#">Logat: <%= userData.username %></a>
        <ul class="open-left">
          <li><a href="/logout">Delogare</a></li>
        </ul>
      </li>
      <% } %>
    </ul>
  </nav>
</header>

<script src="/js/theme-toggle.js"></script>
